#logo img
{
    width: 130px;
}
.menubar
{
    display: block;
    margin-right: -35px;
    cursor: pointer;
}
nav ul
{
    background-color: dimgray;
    top: 90px;
    left: 0px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
}
nav ul li
{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
}
.col-1
{
    margin-right: -15px;
}
.col-1 h1
{
    font-size: 15px;
    width: 90px;
    padding: 0px;
}
.col-1 p
{
    font-size: 10px; 
    padding: 0px;
    width: 95px;  
}
.col-1 img
{
    height: 230px;
    width: 240px; 
    padding: 0px;
}
.btn
{
    font-size: 10px;
}
#mid
{
    flex-wrap: wrap;
    justify-content: center;
}
.mid
{
    width: 200px;
    height: 200px;
    margin: 10px 0px;
}
.products h3,p
{
    font-size: 15px;
}
.prt1
{
    flex-wrap: wrap;
}
.prt2
{
    flex-wrap: wrap;
}
.p1 img
{
    height: 110px;
    width: 110px;
}
.ofr
{
    flex-wrap: wrap;
}
.ofrwrt
{
    width: 250px;
}
.ofr img
{
    width: 200px;
    height: 200px;
}
.ofrwrt p,small
{
  font-size: 10px;
  width: 120px;
  padding: 0px;
}
.ofrwrt h2
{
    font-size: 15px;
    width: 120px;
    padding: 0px;
}
.ts1 small
{
    font-size: 10px;
}
.ts1 h3
{
    font-size: 12px;
}
.ts1 img
{
    width: 60px;
    height: 60px;
}
.testimoni
{
    flex-wrap: wrap;
    text-align: center;
}
#footer p, ul li
{
  font-size: 8px;
}
#footer h3
{
  font-size: 8px;
}
.footer-col2 img
{
    width: 100px;
}
.footer-col2 p
{
    width: 125px;
}
.app
{
    height: 15px;
    width: 40px;
    margin: 5px 0px;
}
.footer-col3
{
    margin: 0px 15px;
    margin-top: -17px;
}
.footer-col4
{
    margin: 0px 10px;
    margin-top: -17px;
}
.footer-col1
{
    margin-left: 10px;
}
